{% extends 'base.html.twig' %}

{% block title %}Payments{% endblock %}

{% block body %}
    <h1>Payments</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Bank_details</th>
                <th>Card_details</th>
                <th>Date_payment_due</th>
                <th>Date_payment_made</th>
                <th>Amount_paid</th>
                {% if is_granted("ROLE_ADMIN")%}
                <th>actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for payment in payments %}
            <tr>
                <td>{{ payment.id }}</td>
                <td>{{ payment.name }}</td>
                <td>{{ payment.bankDetails }}</td>
                <td>{{ payment.cardDetails }}</td>
                <td>{{ payment.datePaymentDue ? payment.datePaymentDue|date('Y-m-d') : '' }}</td>
                <td>{{ payment.datePaymentMade ? payment.datePaymentMade|date('Y-m-d') : '' }}</td>
                <td>{{ payment.amountPaid }}</td>
                {% if is_granted("ROLE_ADMIN")%}
                <td>
                    <a style="margin-right: 10px" class="btn btn-primary" href="{{ path('payment_show', {'id': payment.id}) }}">show</a>
                    <a class="btn btn-secondary" href="{{ path('payment_edit', {'id': payment.id}) }}">edit</a>
                </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted("ROLE_ADMIN")%}
    <a class="btn btn-success" href="{{ path('payment_new') }}">Create new</a>
    {% endif %}
{% endblock %}
